<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs") %>  
  <link rel="stylesheet" href="/css/styles.css"> 
  <title>RetroFilms</title> 
 
</head>

<body>
        <a href="#" class="back-to-top">
          <i class="fas fa-arrow-up"></i>
        </a>
  <header>
        <%-include('./partials/header') %>
  </header>

    <main class="bodyPrincipal">
        <div class="carrusel">
            <section>
                <img src="img/Home/slider/mago de oz.jpg" alt="" >
                <img src="img/Home/slider/back-to-the-future.jpg" alt="" >
                <img src="img/Home/slider/Grease.jpg" alt="" >
                <img src="img/Home/slider/Casablanca.jpg" alt="" >
                <img src="img/Home/slider/frankenstein.jpg" alt="" >
                <img src="img/Home/slider/IT.jpeg" alt="">
                <img src="img/Home/slider/superman.jpg" alt="">
                <img src="img/Home/slider/scarface.jpg" alt="">
                <img src="img/Home/slider/planeta de los simios.webp" alt="">
                <img src="img/Home/slider/aliciaenel.jpg" alt="">
                <img src="img/Home/slider/elbuenomalofeo.webp" alt="">


            </section>
        </div>
        
        <% /*
        <div class="carrusel">
          <section>
            
              <div class="cuadriculaPeliculas">
                <%(productos[0]).forEach(function (producto){%>
                  <a href="/products/detalleProducto/<%=producto.id%>"
                    <img src="img/Home/detalleProducto/portada/<%=producto.poster%>" alt=""></div>
                  </a>
                <%})%>
              </div>
            
          </section>
        </div>
        */ %>


        <div class="tabsContenido">
            <div>Últimas</div>
            <div>Estrenos</div>
            <div>Más Vistas</div>
        </div>

        <div class="contenidoMain">

            <div class="cuadriculaPeliculas">
              <%productos.forEach(function (producto){%>
              <div class="pelicula"><img src="img/DetalleProducto/<%=producto.poster%>" alt=""></div>
              <%})%>
            </div>
            
            
            <% /*
            <div class="cuadriculaPeliculas">
              <%(productos[1]).forEach(function (producto){%>
                <a href="/products/detalleProducto/<%=producto.id%>"
                  <div class="pelicula"><img src="img/DetalleProducto/portada/<%=producto.poster%>" alt=""></div>
                </a>
              <%})%>
            </div>
            */ %>
      
            <div class="topEstrenos">
              <div class="peliculaEstreno"> Top número 1<img src="img\Home\TopEstrenos\star wars.webp" alt="" ></div>
              <div class="peliculaEstreno"> Top número 2 <img src="img\Home\TopEstrenos\Volver_al_Futuro_III_Poster.webp" alt="" ></div>
              <div class="peliculaEstreno"> Top número 3 <img src="img\Home\TopEstrenos\Historia sin fin.jpg" alt="" ></div>
            </div>

                        <% /*
            <div class="topEstrenos">
              <%(productos[2]).forEach(function (producto){%>
                <a href="/products/detalleProducto/<%=producto.id%>"
                  <div class="peliculaEstreno"><img src="img/DetalleProducto/portada/<%=producto.poster%>" alt=""></div>
                </a>
                <%})%>
              </div>
              */ %>

        </div>

    </main>

  <footer>
    <%-include('./partials/footer')%>
  </footer>

</body>

</html>