<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs") %>  
  <link rel="stylesheet" href="/css/styles.css"> 
  <title>RetroFilms</title> 

</head>

<body>
  <a href="#" class="back-to-top">
    <i class="fas fa-arrow-up"></i>
  </a>

  <header>
        <%-include('./partials/header')%>
  </header>

  <main class="mainBody">
      <div>
        <section>
          <%carrousell.forEach(function (movie){%>
            <img src="img/productDetail/<%=movie.imagesMovie[0]%>" alt="" >
          <%})%> 
        </section>  
      </div>
      <div class="contentTabs">
          <div><a href="/products/create">Crear Pelicula</a></div>
          <div>Últimas</div>
          <div>Estrenos</div>
          <div>Más Vistas</div>
      </div>

      <div class="mainContent">

        <div class="movieGrid">
          <%movieGrid.forEach(function (movie){%>           
            <div class="movie">
              <a href="/products/productDetail/<%= movie.id %>">
                <img src="img/productDetail/<%=movie.poster%>" alt="">
              </a>
            </div>       
          <%})%>  
        </div>
  
        <div class="topMovies">
          <%topMovies.forEach(function (movie,index){%>           
            <div class="newMovies"> Top número <%=index+1%> 
              <a href="/products/productDetail/<%= movie.id %>">
                <img src="img/productDetail/<%=movie.poster%>" alt="" >
              </a>
            </div> 
          <%})%>
        </div>

      </div>

  </main>

  <footer>
    <%-include('./partials/footer')%>
  </footer>

</body>

</html>