<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs") %>  
  <link rel="stylesheet" href="/css/styles.css"> 
  <title>RetroFilms</title> 

</head>

<body>
  <a href="#" class="back-to-top">
    <i class="fas fa-arrow-up"></i>
  </a>

  <header>
        <%-include('./partials/header')%>
  </header>

  <main class="mainBody">
      
        <section>
          <% if (carrousell === 1 && carrousell.length > 0) { %>
          <div class = "carrousell">
            <% carrousell.forEach(function (movie) { %>
              <% if (movie.images && movie.images.length > 0) { %>
                <div class="movie">
            <img src="img/posters/<%= movie.images[0].name_URL %>" alt="<%= movie.name %>">
                </div>
          </div>
          <%}%> 
          <%})%>
          <%}%> 
        </section>  
    
      <div class="contentTabs">
          <div><a href="/products/create">Crear Pelicula</a></div>
          <div>Últimas</div>
          <div>Estrenos</div>
          <div>Más Vistas</div>
      </div>

      <div class="mainContent">

        <div class="movieGrid">
          <% if (movies && movies.length > 0) { %>
          <%movies.forEach(function (movie){%> 
            <% if (movie.images && movie.images.length > 0) { %>          
            <div class="movie">
                <a href="/products/productDetail/<%= movie.id %>">
                    <img src="img/posters/<%= movie.images[0].name_URL %>" alt="">
              </a>
            </div>        
          <%}});%>  
          <%}%> 
        </div>
  
       
        <div class="topMovies">
          <% if (topMovie === 1 && movies.length > 0) { %>
              <%topMovie.forEach(function (movie,index){%>  
                          <div class="newMovies"> Top número <%=index+1%>
                          <% topMovie.images.forEach(function (image) { %> 
                            <a href="/products/productDetail/<%= movie.id %>">
                              <img src="img/posters/<%=movie.images[0].name_URL %>" alt="" >
                            </a>
                        <%})})%>
                        
        </div>
        <%}%>
        </div>

  </main>

  <footer>
    <%-include('./partials/footer')%>
  </footer>

</body>

</html>