<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs") %>  
  <link rel="stylesheet" href="/css/styles.css"> 
  <title>RetroFilms</title> 

</head>

<body>
  <a href="#" class="back-to-top">
    <i class="fas fa-arrow-up"></i>
  </a>

  <header>
        <%-include('./partials/header')%>
  </header>

  <main class="mainBody">
      <div>
        <section>
          <%movies.forEach(function (movie){%>
            <% if (movie.is_carrousell == false && movie.images.length > 0 ) { %>
            <img src="img/productDetail/<%= movie.images[0].name_URL %>" alt="<%= movie.name %>">
          <%}})%> 
        </section>  
      </div>
      <div class="contentTabs">
          <div><a href="/products/create">Crear Pelicula</a></div>
          <div>Últimas</div>
          <div>Estrenos</div>
          <div>Más Vistas</div>
      </div>

      <div class="mainContent">

        <div class="movieGrid">
          <%movies.forEach(function (movie){%>           
            <div class="movie">
              <% if (movie.images.length > 0 && movie.is_carrousell == 0 && movie.top_movie == 0) { %>
                <a href="/products/productDetail/<%= movie.id %>">
                    <img src="img/productDetail/<%= movie.images[0].name_URL %>" alt="">
              </a>
            </div>        
          <%}})%>  
        </div>
  
        <div class="topMovies">
          <%movies.forEach(function (movie,index){%>           
              <div class="newMovies"> Top número <%=index+1%>
                <% if (movie.top_movie == 1) { %> 
                <a href="/products/productDetail/<%= movie.id %>">
                  <img src="img/productDetail/<%=movie.images[0].name_URL %>" alt="" >
                </a>
                <%}})%>
              </div> 
        </div>

      </div>

  </main>

  <footer>
    <%-include('./partials/footer')%>
  </footer>

</body>

</html>