<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>  
    <link rel="stylesheet" href="/css/actorDetail.css"> 
    <title>RetroFilms</title> 
</head>

<body>

<header>
    <%-include('../partials/header')%>
</header>

<main class="mainBody">
    <div class="actorDetails">
        <div class="actorImage">
            <img class="actorImg" src="\img\actors\<%= actor.profile_pic %>" alt="foto actor">
        </div>
        
        <div class="actorInfo">
            <h2 class="actorsName"> <%= actor.full_name %></h2>
            
            <div class="actorDescription">    
                <h3 class="titleActorBio"> Bio: </h3>
                <p class="actorBio"> <%= actor.bio %></p>
                
                <h3 class="titleActorCast"> Películas en las que participó: </h3>
                <% actor.movies.forEach(function (movie) { %> 
                    <p class="actorCast"> <%= movie.name %> </p>
                <% }) %>  
            </div>

            <div class="buttons">
                <button class ="button"><a href="/actors/edit/<%=actor.id%>"><i class="fa-solid fa-pen-to-square"></i> Editar </a></button> 
                <button class ="button"><a href="/"><i class="fa-solid fa-ban"></i> Eliminar </a></button>
            </div>

        </div>
    </div>
</main>

<footer>
    <%-include('../partials/footer')%>
</footer>

</body>

</html>
