<!DOCTYPE html>
<html lang="en">
<head>
    <title>RetroFilms-Inicio</title>
    <link rel="stylesheet" href="/css/delete.css">
    <%- include('../partials/head') %>
</head>
<header class="header">
    <%- include('../partials/header') %>
</header>
<body>
    <div class="container">
        <img src="" alt="" class="logo">
        <div class="entryForm">
            <form action="/users/delete/<%= user.id %>?_method=DELETE" method="POST">
                <h1>Está seguro que desea eliminar al usuario <p class="username"><%= user.username %></p>?</h1>
                <div class="submit">
                    <button type="submit">Borrar</button>
                </div>
            </form>
        </div>
    </div>
</body>
<footer>
    <%- include('../partials/footer') %>
</footer>
</html>

