<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Registro</title>
        <link rel="stylesheet" href="/css/registerForm.css">
        <%-include('../partials/head') %>

    </head>

    <header class="header">
        <%-include('../partials/header')%>
    </header>
    
    <body>
  
        <form action="/users/register" method="POST" enctype="multipart/form-data">
            
            <label for="name">Tu nombre
                <input 
                    type="text"  
                    name="realName" 
                    placeholder="Nombres y Apellidos" 
                    class= "<%= locals.errors && errors.realName ? "form-control-is-invalid" : null %>" 
                    value= "<%= locals.oldData ? oldData.realName : null %>"
                >
                <% if (locals.errors && errors.realName) { %>
                    <div class="textDanger">
                        <%= errors.realName.msg  %>
                    </div>
                <% } %>
            </label>

            <label for="userName">Nombre de Usuario
                <input 
                    type="text"  
                    name="userName" 
                    placeholder="User name"
                    class= "<%= locals.errors && errors.userName ? "form-control-is-invalid" : null %>"
                    value= "<%= locals.oldData ? oldData.userName : null %>" 
                >
                <% if (locals.errors && errors.userName) { %>
                    <div class="textDanger">
                        <%= errors.userName.msg  %>
                    </div>
                <% } %>
            </label>

            <label for="email">Correo Electronico
                <input 
                    type="email" 
                    name ="email" 
                    placeholder ="ejemplo@gmail.com"
                    class= "<%= locals.errors && errors.email ? "form-control-is-invalid" : null %>" 
                    value= "<%= locals.oldData ? oldData.email : null %>"
                >
                <% if (locals.errors && errors.email) { %>
                    <div class="textDanger">
                        <%= errors.email.msg  %>
                    </div>
                <% } %>
            </label>

            <label for="profilePic">Foto de perfil
                <input 
                    type="file" 
                    name ="profilePic" 
                    accept="image/jpeg, image/png, image/jpg, image/webp"
                    class="<%= locals.errors && errors.email ? "form-control-is-invalid" : "input" %>">

                    <% if (locals.errors && errors.profilePic) { %>
                        <div class="textDanger">
                            <%= errors.profilePic.msg  %>
                        </div>
                    <% } %>
            </label>

            <label for ="password">Contraseña
                <input 
                    type ="password" 
                    name = "password" 
                    placeholder = "xxxx"
                    class= "<%= locals.errors && errors.password ? "form-control-is-invalid" : null %>" 
                >
                <% if (locals.errors && errors.password) { %>
                    <div class="textDanger">
                        <%= errors.password.msg  %>
                    </div>
                <% } %>
            </label>
            
            <label for = "reEnterPassword">Repite la contraseña
                <input 
                    type = "password" 
                    name = "reEnterPassword" 
                    placeholder= "xxxx"
                    class= "<%= locals.errors && errors.reEnterPassword ? "form-control-is-invalid" : null %>" 
                >
                <% if (locals.errors && errors.reEnterPassword) { %>
                    <div class="textDanger">
                        <%= errors.reEnterPassword.msg  %>
                    </div>
                <% } %>
            </label>
            <label for="Category">Categoria:</label>
            <select name="category" id="category">
                <option value="Gold">Gold</option>
                <option value="Platinum">Platinum</option>
                <option value="Invitado">Invitado</option>
            </select>

            <label for="checkbox">
                <input 
                    type=checkbox 
                    name = "checkbox"
                    class= "<%= locals.errors && errors.checkbox ? "form-control-is-invalid" : null %>"
                    <% if (locals.oldData && locals.oldData.checkbox) { %>
                        checked
                    <% } %>
                > <b>Acepta condiciones y restricciones</b>
                <% if (locals.errors && errors.checkbox) { %>
                    <div class="textDangerFinal">
                        <%= errors.checkbox.msg  %>
                    </div>
                <% } %> 
            </label>

            <br>

            <label for="submitButton">
                <button type=submit name="submitButton"> Continuar </button>
            </label>

            <p class="login">¿Ya tienes cuenta? <a href="#">Log in </a> </p>
             
        </form>

    </body>

    <footer>
        <%-include('../partials/footer') %>
    </footer>
</html>