<!DOCTYPE html>
<html lang="es">
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="/css/registerForm.css">
    <%- include('../partials/head') %>
</head>
<body>
    <header class="header">
        <%- include('../partials/header') %>
    </header>

    <div id="formulario" >
        <form class="reg_form" action="/users/register" method="POST" enctype="multipart/form-data">
            <div id="grupo__nameNombre">
                <label for="name">Tu nombre
                    <input 
                        type="text"  
                        name="nameNombre" 
                        id="nameNombre"
                        placeholder="Nombres y Apellidos" 
                        class="<%= locals.errors && locals.errors.name ? 'form-control-is-invalid' : '' %>"
                        value="<%= locals.oldData ? locals.oldData.name : '' %>">
                    <% if (locals.errors && locals.errors.name) { %>
                        <div class="textDanger help_message" id="help_name">
                            <%= locals.errors.name.msg %>
                        </div>
                    <% } %>
                    <div class="formulario__input">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        <p class="texto__error" class="texto__error-activo">El nombre puede tener un máximo de 40 letras, sin caracteres especiales.</p><br>
                    </div>

                </label>
            </div>
            
            <div id="grupo__username">
                <label for="username">Nombre de Usuario
                    <input 
                        type="text"  
                        name="username" 
                        id="username"
                        placeholder="User name"
                        class="<%= locals.errors && locals.errors.username ? 'form-control-is-invalid' : '' %>"
                        value="<%= locals.oldData ? locals.oldData.username : '' %>"
                    >
                    <% if (locals.errors && locals.errors.username) { %>
                        <div class="textDanger help_message" id="help_userName">
                            <%= locals.errors.username.msg %>
                        </div>
                    <% } %>
                    <div>
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        <p class="texto__error" class="texto__error-activo">El nombre de usuario tiene que ser de 4 a 16 digitos y sólo puede contener números, letras y guion bajo. </p><br>
                        
                    </div>
                </label>
            </div>
        <div id="grupo__email">
            <label for="email">Correo Electrónico
                <input 
                    type="email" 
                    name="email" 
                    id="email"
                    placeholder="ejemplo@gmail.com"
                    class="<%= locals.errors && locals.errors.email ? 'form-control-is-invalid' : '' %>" 
                    value="<%= locals.oldData ? locals.oldData.email : '' %>"
                >
                <% if (locals.errors && locals.errors.email) { %>
                    <div class="textDanger help_message" id="help_email">
                        <%= locals.errors.email.msg %>
                    </div>
                <% } %>
                <div>
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    <p class="texto__error" class="texto__error-activo">El correo electrónico sólo puede contener letras, números, puntos, guiones y guion bajo.</p><br>
                </div>
            </label>
        </div>

            <div id="grupo__userPic">
                <label for="profile_pic">Foto de perfil
                    <input 
                        type="file" 
                        name="profile_pic" 
                        accept="image/jpeg, image/png, image/jpg, image/webp"
                        class="<%= locals.errors && locals.errors.profile_pic ? 'form-control-is-invalid' : 'input' %>"
                    >
                    <% if (locals.errors && locals.errors.profile_pic) { %>
                        <div class="textDanger">
                            <%= locals.errors.profile_pic.msg %>

                        </div>
                    <% } %>
                </label>
            </div>

            <div id="grupo__password">
                <label for="password">Contraseña
                    <input 
                        type="password" 
                        name="password" 
                        id="password"
                        placeholder="xxxxx"
                        class="<%= locals.errors && locals.errors.password ? 'form-control-is-invalid' : '' %>" 
                    >
                    <% if (locals.errors && locals.errors.password) { %>
                        <div class="textDanger help_message" id="help_password">
                            <%= locals.errors.password.msg %>
                        </div>
                    <% } %>
                    <div>
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        <p class="texto__error" class="texto__error-activo">La contraseña tiene que ser de 4 a 12 dígitos.</p><br>
                    </div>
                </label>
            </div>

            <div id="grupo__reEnterPassword">
                <label for="reEnterPassword">Repite la contraseña
                    <input 
                        type="password" 
                        name="reEnterPassword"
                        id="reEnterPassword" 
                        placeholder="xxxxx"
                        class="<%= locals.errors && locals.errors.reEnterPassword ? 'form-control-is-invalid' : '' %>" 
                    >
                    <% if (locals.errors && locals.errors.reEnterPassword) { %>
                        <div class="textDanger help_message" id="help_reEnterPassword">
                            <%= locals.errors.reEnterPassword.msg %>
                        </div>
                    <% } %>
                    <div>
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        <p class="texto__error" class="texto__error-activo">Las contraseñas deben de coincidir</p><br>
                    </div>
                </label>
            </div>

            <label for="Categories_id">Categoría:
                <select name="Categories_id" id="Categories_id">
                    <option value="1">Gold</option>
                    <option value="2">Platinum</option>
                    <option value="3">Invitado</option>
                </select>

            </label>
            
            <label for="Categories_id">Categoria:</label>
            <select name="Categories_id" id="Categories_id">
                <option value="1">Gold</option>
                <option value="2">Platinum</option>
                <option value="3">Invitado</option>
            </select>


            <label for="checkbox">
            <div id="terminos">
                <input 
                    type="checkbox" 
                    name="terminos"
                    id="checkbox"
                    class="<%= locals.errors && locals.errors.checkbox ? 'form-control-is-invalid' : '' %>"
                    <% if (locals.oldData && locals.oldData.checkbox) { %> checked <% } %>
                >
                <b>Acepta terminos y condiciones</b>
                <% if (locals.errors && locals.errors.checkbox) { %>
                    <div class="textDangerFinal">
                        <%= locals.errors.checkbox.msg %>
                    </div>
                <% } %>
            </label>
            </div>

            <br>
            <div class= "formulario__grupo formulario__grupo-btn-enviar">
            <button  type="submit" name="submitButton" class="formulario__btn">Continuar</button>
            <p id="formulario__mensaje-exito" id="formulario__mensaje-exito-activo">Tu información se guardo con exito con exito</p>
            </div>

            <p class="login">¿Ya tienes cuenta? <a href="/users/login">Log in</a></p>

            <div class="formulario__mensaje" id="formulario__mensaje">
                 <p><i class="fas fa-exclamation-triangle"></i><b>Error </b> Por favor rellena el formulario de manera correcta</p>
            </div>

        </form>
    </div>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

    <script src="/Validations/validations-registerFormTwo.js"></script>
</body>
</html>
