<!DOCTYPE html>
<html lang="es">
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="/css/registerForm.css">
    <%- include('../partials/head') %>
    <script src="/js/Validations-register-front-end.js"></script>
</head>
<body>
    <header class="header">
        <%- include('../partials/header') %>
      
    </header>

    <div class="form-container">
        <form action="/users/register" method="POST" enctype="multipart/form-data">
            <label for="name">Tu nombre
                <input 
                    type="text"  
                    name="name" 
                    placeholder="Nombres y Apellidos" 
                    class="help_message <%= locals.errors && locals.errors.name ? 'form-control-is-invalid' : '' %>" 
                    value="<%= locals.oldData ? locals.oldData.name : '' %>"
                >
                <% if (locals.errors && locals.errors.name) { %>
                    <div class="textDanger help_message" id="help_name">
                        <%= locals.errors.name.msg %>
                    </div>
                <% } %>
            </label>

            <label for="userName">Nombre de Usuario
                <input 
                    type="text"  
                    name="userName" 
                    placeholder="User name"
                    class="help_message <%= locals.errors && locals.errors.userName ? 'form-control-is-invalid' : '' %>"
                    value="<%= locals.oldData ? locals.oldData.userName : '' %>"
                >
                <% if (locals.errors && locals.errors.userName) { %>
                    <div class="textDanger help_message" id="help_userName">
                        <%= locals.errors.userName.msg %>
                    </div>
                <% } %>
            </label>

            <label for="email">Correo Electrónico
                <input 
                    type="email" 
                    name="email" 
                    placeholder="ejemplo@gmail.com"
                    class="help_message <%= locals.errors && locals.errors.email ? 'form-control-is-invalid' : '' %>" 
                    value="<%= locals.oldData ? locals.oldData.email : '' %>"
                >
                <% if (locals.errors && locals.errors.email) { %>
                    <div class="textDanger help_message" id="help_email">
                        <%= locals.errors.email.msg %>
                    </div>
                <% } %>
            </label>

            <label for="userPic">Foto de perfil
                <input 
                    type="file" 
                    name="userPic" 
                    accept="image/jpeg, image/png, image/jpg, image/webp"
                    class="<%= locals.errors && locals.errors.profilePic ? 'form-control-is-invalid' : 'input' %>"
                >
                <% if (locals.errors && locals.errors.profilePic) { %>
                    <div class="textDanger">
                        <%= locals.errors.profilePic.msg %>
                    </div>
                <% } %>
            </label>

            <label for="password">Contraseña
                <input 
                    type="password" 
                    name="password" 
                    placeholder="xxxx"
                    class="help_message <%= locals.errors && locals.errors.password ? 'form-control-is-invalid' : '' %>" 
                >
                <% if (locals.errors && locals.errors.password) { %>
                    <div class="textDanger help_message" id="help_password">
                        <%= locals.errors.password.msg %>
                    </div>
                    <ul class="errors_list_password">
                        <li id="length" class="invalid">Debe tener al menos 5 caracteres.</li>
                        <li id="uppercase" class="invalid">Debe incluir una letra mayúscula.</li>
                        <li id="lowercase" class="invalid">Debe incluir una letra minúscula.</li>
                        <li id="number" class="invalid">Debe incluir un número.</li>
                    </ul>
                <% } %>
            </label>

            <label for="reEnterPassword">Repite la contraseña
                <input 
                    type="password" 
                    name="reEnterPassword" 
                    placeholder="xxxxx"
                    class="help_message <%= locals.errors && locals.errors.reEnterPassword ? 'form-control-is-invalid' : '' %>" 
                >
                <% if (locals.errors && locals.errors.reEnterPassword) { %>
                    <div class="textDanger help_message" id="help_confirm_password">
                        <%= locals.errors.reEnterPassword.msg %>
                    </div>
                <% } %>
            </label>

            <label for="category">Categoría:
                <select name="category" id="category">
                    <option value="Gold">Gold</option>
                    <option value="Platinum">Platinum</option>
                    <option value="Invitado">Invitado</option>
                </select>
            </label>

            <label for="checkbox">
                <input 
                    type="checkbox" 
                    name="checkbox"
                    class="<%= locals.errors && locals.errors.checkbox ? 'form-control-is-invalid' : '' %>"
                    <% if (locals.oldData && locals.oldData.checkbox) { %> checked <% } %>
                >
                <b>Acepta condiciones y restricciones</b>
                <% if (locals.errors && locals.errors.checkbox) { %>
                    <div class="textDangerFinal">
                        <%= locals.errors.checkbox.msg %>
                    </div>
                <% } %>
            </label>

            <br>

            <button   type="submit" name="submitButton">Continuar</button>

            <p class="login">¿Ya tienes cuenta? <a href="/users/login">Log in</a></p>
        </form>
    </div>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

  
  </body>
</html>
